{% load static  %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'nancy/js/scripts.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
    <link rel="stylesheet" href="{% static 'nancy/css/styles.css' %}">
    <title>Register | N A N C Y</title>
</head>

<!-- <body>
    <h1>Registration for a new user</h1>
    <h3>{{errMsg}}</h3>

    <form action="#" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn-medium">Register</button>
    </form>
</body> -->

<body>
    <div class="wrapper">
        <header>
            <div class="header-selections">
                <a href="{% url 'nancy' %}" id="logo">N A N C Y</a>
                <a href="#" id="hamburger"></a>
            </div>
        </header>
        <main id="main-login">

            <section id="login-section">
                <h1>Create Your User</h1><br>
                <form method="POST">
                    <!-- <div id="user-and-password"> -->
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="lni lni-user"></i></span>
                            <input type="input" class="form-control" placeholder="Username" name="username"
                                aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="lni lni-key"></i></span>
                            <input type="password" class="form-control" placeholder="Password" name="password1"
                                aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="lni lni-key"></i></span>
                            <input type="password" class="form-control" placeholder="Password (Again)" name="password2"
                                aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                    <br>
                    <button class="btn-medium" type="submit" style="opacity: 1   !important;">Register</button>
                </form>
                {% if errMsg %}
                <div class="alert alert-danger" role="alert">{{errMsg}}</div>
                {%endif%}
                <div id="no-account-yet">
                    <h6>Already have an account?</h6>
                    <h5><a href="/login">Log in Here!</a></h5>
                </div>

            </section>
        </main>
    </div>
</body>

</html>