
*{
    margin: 0;
    padding: 0;
}


nav, header, body, footer, main, aside, section, div{
    display: block;
}
 
html{
    background-color: rgb(241, 146, 21);   
    /* overflow-y: scroll; */

} 

#nisuy{
    width: 40px;
    height: 40px;
    background-image: url(../images/bottle_icon.png);
}
