<!DOCTYPE html>
<html lang="en">
 	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update my todo</title>
 	</head>
 	<body>
        {% if user.is_authenticated %}
            <h1>Update todo {{todo.title}}</h1>
            <br><br>
            <h3>{{errMsg}}</h3>

            <form action="#" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type='submit'>Update Todo</button>
            </form>
            <form action="{% url 'logoutuser' %}" method="POST">
                {% csrf_token %}
                <button type='submit'>Logout</button>
            </form>
        {% endif %}
    </body>
</html>
