
*{
    margin: 0;
    padding: 0;
}

html,nav, header, footer, main, aside, section, div{
    display: block;
}

h2{
    text-align: center;
    font-size: 18px;
    opacity: 50%;
    margin: 5px;
    padding: 5px;
}
h4, h3{
    color: #222222;

}
h5{
    opacity: 0.8;
}

#logout{
    font-size: 12px;
}

body{
    display: flex;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    background-color: #f0f0f0;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

header{
    position: sticky;
    z-index: 1;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 65px;
    line-height: 65px;
    background-color: white;
    box-shadow: 0px 0px 4px #222222;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}

nav{
    position: static;
    left:0;
    height: 97vh;
    width: 13vw;
    min-width: 180px;
    float: left;
    background-color: #222222;
    
}


#notification{
    display: block;
    float: right;
    right: 10px;
    margin:20px 30px;
    width: 30px;
    height: 30px;
    background: url(../images/notif-icon.png) no-repeat;
}

#baby-nav{
    display: block;
    float: right;
    margin-top: 12px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: url(../images/baby-icon.png) no-repeat;
    margin-left: 15px;
}


#nav-meals-options{
    display: none;
    font-weight: normal;
}

#logo{
    margin-left: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #222222;
    font-size: 30px
}

ul{
    list-style-type:none;
    margin-top: 18px;
    font-weight: lighter;
}

nav ul{
    margin-left: 24px;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}

li{
    margin-bottom: 20px;
}

nav li{
    opacity: 50%;
    transition: 0.2s ease-in-out;
}

li:hover{
    opacity: 100%;
    transition: 0.2s ease-in-out;

}

main{
    position: absolute;
    display: inline-flex;
    width: 85vw;
    height: 93vh;
    /* border: 3px solid green; */
    padding-bottom: 3vh ;
    /* padding-top: 3vh; */
    margin: 0;
}


#homepage-leftside{
    display: flex;
    flex: 1 0 auto;
    height: 100%;
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

#homepage-rightside{
    height: 100%;
    width: 50%;
    margin-left: 10px;
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

main section{
    position: relative;
    box-shadow: 0px 0px 4px #222222;
    border-radius: 5px;
    background-color: white;
    width: 40vw;
    text-align: center;
    /* margin-top: 2%; */
}


#next-meals{
    width: 100%;
    max-width: 50vw;
    height:100%;
    min-height: 80vh;
}

#next-taste{
    height: 40%;
    min-width: 40vh;
    margin-bottom: 10px;
}


#info{
    flex: 1 1 auto;
    height: 100%;
    /* min-height: 25vh; */
    margin-bottom: 10px;
} 

#relevant-news{
    flex: 0 1 auto;
    height: 75%;
    /* min-height: 30vh; */
    text-align: center;
}

#next-meal{
    display: block;
    flex-wrap: wrap;
    height: 170px;
    justify-content: space-around;
}

#next-meal-info{
    display: inline-block;
    width: 120px;
    height: 90%;
    text-align: center;
}

#next-meal-img{
    float: left;
}

#next-meal-info li{
    display:inline-block;
    height: 25px;
    width: 100px;
    line-height: 22px;
}

#timer{
    width: 125px;
    height: 170px;
    line-height: 50px;
    vertical-align: middle;
    display:inline-block;
    font-size: 18px;
    font-weight: bolder;
    color: #222222;
    transform: rotate(25deg);
}

#next-meals a{
    font-size: 25px;
    margin-top: 800px;
    text-decoration: none;
    color: #222222;
    text-decoration: none;
}


#next-taste-info{
    display: flex;
    height: fit-content;
    justify-content: space-around;
    margin: 10px auto;
    align-items: center;
}


#clock-icon{
    background: url(../images/clock_icon.png) no-repeat;
    height: 25px;
    width: 25px;
}

.align-self{
    align-self: center;
}

#bottle-icon{
    height: 20px;
    width: 20px;
    background: url(../images/bottle_icon.png) no-repeat;
}

#amount-icon{
    height: 20px;
    width: 20px;
    background: url(../images/amount_icon.png) no-repeat;
}



.upcoming-meal{
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: 60px;
    margin-top: 10px;
    border: 1px outset #ddd;
    box-shadow: 0px 1px 1px #e6cdcd;
    padding: 5px;
    background-color: rgb(245, 245, 229);
    justify-content: space-around;
    flex-direction: none;
}




.upcoming-meal-hour, .upcoming-meal-image, .upcoming-meal-name{
    display: inline-block;
    width: 60px;
    align-self:center;
    justify-items: center;
}

#see-all{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;

}


 #baby-info{
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    width: 100%;
    align-items: center;
} 

 #baby-info span{
    margin: 10px;
    font-weight: 400;
    width: 150px;
    height: 30px;
}


#relevant-news-cards-container{
    display: flex;
    height: 170px;
    justify-content: space-around;
    margin: 10px auto;
    align-items: center;
    height: auto
}

#relevant-news-card{
    padding: 1%;
    word-wrap: break-word;
    display: block;
    height: 150px;
    width: 28%;
    box-shadow: 0px 0px 2px #222;
    color: darkblue;
    text-decoration: none;
    background-color: rgb(245, 245, 229);
}

#relevant-news-card a{
    text-overflow: ellipsis;
    font-size: smaller;
    text-decoration: none;
    overflow: hidden;
    color: darkblue;
    
}



#hamburger{
    display: none;
}


/*___________ ------------------- PAGE2---------------------____________ */


#button-createMeal span{
    font-size: larger;
}




#button-createMeal{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 0; 
    right: 0; 
    margin: 3% auto;
    background-color: #222222;
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;  
    border: none;
    border-radius: 10px;
}

#mealCards{
    
    margin: 0 auto;
    margin-top: 10%;
    width: 75vw;
    height: 437px;
    position: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
}


.mealCard{
    float: left;
    width: 200px;
    height: 270px;
    background-color: rgb(245, 245, 229);
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0px 1px 3px #222222;
    border-radius: 12px;
    padding-top: 5px;
    transition: .3s all;
}

.mealCard:hover{
    box-shadow: 0px 0px 10px #222222;
    transition: .3s all;
}

.mealCard a{ 
    display: block;  
    width: 150px;
    height: 150px;
    margin: 0px auto;
    background-repeat: no-repeat;
}

/* #imgMealCard1{
  background: url(../images/similak.png) no-repeat;
} */

#imgMealCard2{
    background: url(../images/Mashed_apple.png) no-repeat;
  }

.mealCard h3{
    text-align: center;
    opacity: 50%;
}

.mealCard .addButton{
    font-size: 14px;
    display: block;
    width:180px ;
    height: 35px ;
    margin: 10px auto 5px;
    border-radius: 10px;
    background-color:#222222 ;
    color: white;
    cursor: pointer;
    border:none;
    transition: 0.2s all;
}

.mealCard .delButton{
    font-size: 14px;
    display: block;
    width:140px ;
    height:35px ;
    margin: 5px auto;
    border-radius: 10px;
    background-color:red ;
    color: white;
    cursor: pointer;
    border:none;
    transition: 0.2s all;
}   

.delButton:hover, .addButton:hover{
    font-size: 15px;
    transition: 0.3s all;
}

.thisNavSection{
    opacity: 90%;
    font-weight: bold;
}

.card-bottom{
    width: 100%;
    position: relative;
    margin-top: 10px;
    box-shadow: none;
    background-color: transparent;
}


/*___________ ------------------- PAGE 3 - CREATE MEAL ---------------------____________ */

.create-meal
{
    height: 520px;
    width: 550px;
    left: 300px;
    top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

form{
    padding-left: 30px;
    padding-right: 30px;
}
input,textarea{
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
}
textarea, input[type=text]{
    width: 100%;
}

label{
    display: inline-block;
    margin-bottom: 5px;
    color: #222222;
    opacity: 50%;
}


.btn-medium{
    display: block;
    margin: 0 auto;
    background-color: #222222;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }


#meal-name{
    margin-top: 20px;
    font-size:30px;
    font-weight: bold;
    border: 0px;
    border-bottom: 1px solid #222222;
}



/*___________ ------------------- PAGE 4 - CREATE MEAL ---------------------____________ */

#meal-data{
    height: 520px;
    width: 550px;
    left: 300px;
    top: 20px;
    margin-right: 25px;
    margin-left: 25px;
}


#meal-description{
    text-align: center;

}

.wrapped{
    margin: 40px auto;
    
}

.meal-img{
    display: inline-block;
    margin: 0 auto;
}
.meal-info{
    display: inline-block;
    vertical-align: top;
    padding-left: 10%;

}



@media screen and (max-width: 500px) {

    html{
        overflow-x: hidden;
    }

    #logo{
        margin-left: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: #222222;
        font-size: 25px
    }
    
    main{
        height: auto;
        margin-top: 10px;
        border: 0px;
        width: 100vw;
        padding: 0%;
        
        text-align: center;
    }

    main section {
        width: 92vw;
        margin: 0 auto;
        height:90vh
    }

    #homepage-leftside{
        width: 100vw;
        position: absolute;
        text-align: center;
        max-width: 100vw;
        float: none;
        height: 90vh;
        padding: unset;
        margin: 0 auto;
    }

    #homepage-rightside{
        display: none;
    }

    #next-meal{
        height: 140px;
        /* max-width:98vw */
    }

    #hamburger{
        display: block;
        float: right;
        margin-right: 10px;
        width: 32px;
        height: 32px;
        background: url(../images/hamburger.png) no-repeat;
        margin-top: 4px;
    }


    #baby-nav{
        width: 32px;
        height: 32px;
        line-height: 40px;
        vertical-align: middle;
        
        border-radius: 100%;
        background: url(../images/baby-icon.png) no-repeat;
        background-size: cover;
        margin: 4px auto;
        display: inline-block;
    }
    
    #notification{
        float: right;
        margin: 6px 10px;
        margin-top: 6px;
        width: 24px;
        height: 30px;
        background: url(../images/notif-icon.png) no-repeat;
    }


    header{
        line-height: 40px;
        height: 40px;
    }

    nav{
        display: none;
    }

    #button-createMeal{
    height: 50px;
    font-size: medium;
    left: 0;
    }

    #mealCards{
        padding: 0px;
        width: 100%
    }

    h2{
        padding-top: 1vh;
        margin-top: 0vh;
    }

    .card-bottom{
        position: relative;
        margin-top: 3px;
        box-shadow: none;
    }

    .mealCard{
    width: 316px;
    height: 80px;
    margin: 17px auto;
    float: none;
    }

    #imgMealCard1{
        background: url(../images/similak_small.png) no-repeat;
        width: 55px;
        height: 66px;
    }

    #imgMealCard2{
        background: url(../images/mashed_apple_small.png) no-repeat;
        width: 55px;
        height: 66px;
    }

    .mealCard a{
    float: left;
    margin: 5px 20px;
    }

    .mealCard .addButton{
        float: left;
        width:90px ;
        height: 40px ;  
        margin: 5px 10px ;

    }
            
    #next-meal-img{
        float: left;
        height: 100px;
        width:100px
    }

    
    #next-meal-info{
        display: flex;
        flex-wrap: wrap;
        float: left;
        width: 100px;
        height: 100px;
        margin-top:0;
    }

    #next-meal ul{
        vertical-align: middle;
        display: flex;
        height: 80%;
        flex-wrap: wrap;
        margin-top: 0;

    }

    #next-meal li{
        text-align: left;
        margin: 0 ;
        margin-top:5%;
        width: 85%;
        text-indent: 30px;
    }

    
    #timer{
        /* position: absolute; */
        /* margin-right: 4%; */
        padding: 0;
        margin-top: 12%;
        width: 100px;
        /* line-height:25px; */
        height:40px;
        transform: rotate(30deg);
        line-height: 40px;
        font-size: 14px;
    }

    #next-meals{
        max-width: 95vw;
    }

    .mealCard .delButton{
        float: left;
        width:90px ;
        height: 40px ;  
        margin: 5px 10px ;
    }   

    .create-meal{
        height: fit-content;
        padding-bottom: 20px ;
        padding-top: 5px;
        margin-top:5%;
        width:340px
    }

    .meal-img{
        display: inline-block;
        margin: 0 auto;
        height: 150px;
        width: 150px;
        padding-top: 20%;
    }

    .meal-img img{
        width: 100%;
        height: auto;
        
    }

    .meal-info{
        padding-left: 5%;
    }


    
    #next-meals h5{
        margin-bottom: 2vh;
    }


    #info{
        display: none;
    }

    #relevant-news{
        display: none;
    }

    #next-taste{
     display: none;
     
    }

}